<link rel="stylesheet" type="text/css" href="about.component.css"/>
<div class="box"><div class="main">
    <div class="line"></div>
		<div class="col-div-8">
			<div class="content-box">
			<p class="head">About Me</p>
			<p class="p3" style="font-size: 14px;"> Hi my name is Daniel im a College student in Holy Angel
				University, My course is Bachelor of Science in Information Technology(BSIT). </p>
			<br/><p class="head">EXPERIENCE</p>

			<p>HTML,CSS,JS</p>
			<p class="p-4">
				I have a basic understanding of HTML and CSS, allowing me to create simple web pages.
			<p>Angular</p>
			<p class="p-4">
				I have a basic understanding of Angular, including its components, modules, and directives, which allows me to create simple web applications.			</p>

			<p>Python, Java</p>
			<p class="p-4">
				I have a basic understanding of Python, which allows me to write simple programs and scripts, but I still have a lot to learn., I am familiar with the basics of Java, including syntax, data types, and control structures.
			<br/>
</div></div>

