
<h2>Sign up for our newsletter</h2>
<mat-form-field appearance="fill">
    <mat-label>Enter Your Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select Course</mat-label>
    <mat-select>
      <mat-option value="one">Comsci</mat-option>
      <mat-option value="two">Webdev</mat-option>
      <mat-option value="two">NetAD</mat-option>
      <mat-option value="two">EMC</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <app-buttons></app-buttons>
 