
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">

<div class="main">
  <div class="top-section">
    <p class="p1">Daniel Joshua Tongol</p>
    <p class="p2">WEB DEVELOPER</p>
  </div>
  <div class="clearfix"></div>

  <div class="col-div-4">
    <div class="content-box" style="padding-left: 40px">
      <p class="head">Contact</p>
      <p class="p3">
        <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;20783902
      </p>
      <p class="p3">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        &nbsp;&nbsp;danieltongol@gmail.com
      </p>
      <p class="p3">
        <i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;Philippines
      </p>
      <app-about></app-about>
      <app-skills></app-skills>
    </div></div>
    <app-achievements></app-achievements>
    <app-education></app-education>
    <app-references></app-references>
    
    
    
    
    
    
   
    
    
    
  </div>
</div>
